# The Pandas library is built on NumPy and provides easy-to-use data structures and data analysis tools for the Python programming language.

In [2]:
import pandas as pd

In [3]:
# Create Series
pd_series = pd.Series([1,2,2,3,4], index=[1,2,3,4,5])

In [4]:
# Create Dataframe
data = {"Country":["India", "Germany", "USA"],
        "Capital":["Delhi", "Berlin", "Washington"],
        "Population":[130, 70, 90]}
df = pd.DataFrame(data, columns=["Country", "Capital", "Population"])

In [5]:
# Read CSV
df_csv = pd.read_csv("CarPrice_Assignment.csv")

# Write CSV
df.to_csv("Country_Population.csv")

In [6]:
# Read xlsx
df_xlsx = pd.read_excel("sampledataworkorders.xlsx")

# Write xlsx
df.to_excel("Country_Population.xlsx")

In [7]:
# indexing
df[:1:2]

  Country Capital  Population
0   India   Delhi         130

In [8]:
# By Position 
# Select single value by row and column
df.iloc[[1],[1]]

  Capital
1  Berlin

In [9]:
# By Label
# Select single value by row and column values
df.loc[[0],["Population"]]

   Population
0         130

In [10]:
# Boolean Indexing
df[df["Population"] > 70]

  Country     Capital  Population
0   India       Delhi         130
2     USA  Washington          90

In [11]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     3 non-null      object
 1   Capital     3 non-null      object
 2   Population  3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [12]:
# describe
df.describe()

       Population
count    3.000000
mean    96.666667
std     30.550505
min     70.000000
25%     80.000000
50%     90.000000
75%    110.000000
max    130.000000

In [13]:
# Shape 
df.shape

(3, 3)

In [14]:
# columns
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [15]:
# count
df.count()

Country       3
Capital       3
Population    3
dtype: int64

In [16]:
# index
df.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
# mean
df.mean()

Population    96.666667
dtype: float64

In [18]:
# median
df.median()

Population    90.0
dtype: float64

In [19]:
# multiple conditions while indexing
df[(df["Population"]>70) & (df["Country"]=="India")]

  Country Capital  Population
0   India   Delhi         130

In [23]:
# value counts
df["Population"].value_counts

<bound method IndexOpsMixin.value_counts of 0    130
1     70
2     90
Name: Population, dtype: int64>

In [26]:
# Unique
df["Country"].unique

<bound method Series.unique of 0      India
1    Germany
2        USA
Name: Country, dtype: object>

In [28]:
df.head()

   Country     Capital  Population
0    India       Delhi         130
1  Germany      Berlin          70
2      USA  Washington          90

In [29]:
df.tail()

   Country     Capital  Population
0    India       Delhi         130
1  Germany      Berlin          70
2      USA  Washington          90